.current-entry {
    width: 100px;
    height: 100px;
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    gap: 10px;
}